[package]
name = "pulsar"
version = "4.1.3"
edition = "2018"
authors = [
    "Colin Stearns <cstearns@developers.wyyerd.com>",
    "Kevin Stenerson <kstenerson@developers.wyyerd.com>",
    "Geoffroy Couprie <contact@geoffroycouprie.com>",
]

license = "MIT/Apache-2.0"
readme = "./README.md"
repository = "https://github.com/streamnative/pulsar-rs"
documentation = "https://docs.rs/pulsar"
description = "Rust client for Apache Pulsar"
keywords = ["pulsar", "api", "client"]

[dependencies]
bytes = "1.0.0"
crc = "3.0.0"
futures = "0.3"
nom = { version="7.0.0", default-features=false, features=["alloc"] }
prost = "0.10.0"
prost-derive = "0.10.0"
rand = "0.8"
chrono = "0.4"
futures-timer = "3.0"
log = "0.4.6"
url = "2.1"
regex = "1.1.7"
bit-vec = "0.6"
futures-io = "0.3"
native-tls = "0.2"
pem = "1.0.0"
tokio = { version = "1.0", features = ["rt", "net", "time"], optional = true }
tokio-util = { version = "0.7", features = ["codec"], optional = true }
tokio-native-tls = { version = "0.3", optional = true }
async-std = {version = "1.9", features = [ "attributes", "unstable" ], optional = true }
asynchronous-codec = { version = "0.6", optional = true }
async-native-tls = { version = "0.3", optional = true }
lz4 = { version = "1.23", optional = true }
flate2 = { version = "1.0", optional = true }
zstd = { version = "0.11", optional = true }
snap = { version = "1.0", optional = true }
openidconnect = { version = "2.1.1", optional = true }
oauth2 = { version = "4.1", optional = true }
serde = { version = "1.0", features = ["derive"], optional = true }
serde_json = { version = "1.0", optional = true }
async-trait = "0.1.51"
data-url = { version = "0.1.1", optional = true }
uuid = {version = "1.1.2", features = ["v4", "fast-rng"] }

[dev-dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
env_logger = "0.9"
tokio = { version = "1.0", features = ["macros", "rt-multi-thread"] }

[build-dependencies]
prost-build = "0.10.0"

[features]
default = [ "compression", "tokio-runtime", "async-std-runtime", "auth-oauth2" ]
compression = [ "lz4", "flate2", "zstd", "snap" ]
tokio-runtime = [ "tokio", "tokio-util", "tokio-native-tls" ]
async-std-runtime = [ "async-std", "asynchronous-codec", "async-native-tls" ]
auth-oauth2 = [ "openidconnect", "oauth2", "serde", "serde_json", "data-url" ]
