[package]
name = "pulsar"
version = "5.1.0"
edition = "2021"
authors = [
    "Colin Stearns <cstearns@developers.wyyerd.com>",
    "Kevin Stenerson <kstenerson@developers.wyyerd.com>",
    "Geoffroy Couprie <contact@geoffroycouprie.com>",
]

license = "MIT/Apache-2.0"
readme = "./README.md"
repository = "https://github.com/streamnative/pulsar-rs"
documentation = "https://docs.rs/pulsar"
description = "Rust client for Apache Pulsar"
keywords = ["pulsar", "api", "client"]

[dependencies]
bytes = "^1.2.1"
crc = "^3.0.0"
nom = { version="^7.1.1", default-features=false, features=["alloc"] }
prost = "^0.11.0"
prost-derive = "^0.11.0"
rand = "^0.8.5"
chrono = "^0.4.22"
futures-timer = "^3.0.2"
log = "^0.4.17"
url = "^2.3.1"
regex = "^1.6.0"
bit-vec = "^0.6.3"
futures = "^0.3.25"
futures-io = "^0.3.25"
native-tls = "^0.2.10"
pem = "^1.1.0"
tokio = { version = "^1.21.2", features = ["rt", "net", "time"], optional = true }
tokio-util = { version = "^0.7.4", features = ["codec"], optional = true }
tokio-native-tls = { version = "^0.3.0", optional = true }
async-std = {version = "^1.12.0", features = [ "attributes", "unstable" ], optional = true }
asynchronous-codec = { version = "^0.6.0", optional = true }
async-native-tls = { version = "^0.4.0", optional = true }
lz4 = { version = "^1.24.0", optional = true }
flate2 = { version = "^1.0.24", optional = true }
zstd = { version = "^0.11.2", optional = true }
snap = { version = "^1.0.5", optional = true }
openidconnect = { version = "^2.4.0", optional = true }
oauth2 = { version = "^4.2.3", optional = true }
serde = { version = "^1.0.147", features = ["derive"], optional = true }
serde_json = { version = "^1.0.87", optional = true }
tracing = { version = "^0.1.37", optional = true }
async-trait = "^0.1.58"
data-url = { version = "^0.2.0", optional = true }
uuid = {version = "^1.2.1", features = ["v4", "fast-rng"] }

[dev-dependencies]
serde = { version = "^1.0.145", features = ["derive"] }
serde_json = "^1.0.85"
env_logger = "^0.9.1"
tokio = { version = "^1.21.2", features = ["macros", "rt-multi-thread"] }

[build-dependencies]
prost-build = "^0.11.1"

[features]
default = [ "compression", "tokio-runtime", "async-std-runtime", "auth-oauth2" ]
compression = [ "lz4", "flate2", "zstd", "snap" ]
tokio-runtime = [ "tokio", "tokio-util", "tokio-native-tls" ]
async-std-runtime = [ "async-std", "asynchronous-codec", "async-native-tls" ]
auth-oauth2 = [ "openidconnect", "oauth2", "serde", "serde_json", "data-url" ]
telemetry = ["tracing"]
