name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install protocol buffer compiler
        uses: arduino/setup-protoc@v1
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v1
      - name: Build
        run: cargo build
      - name: Check format
        run: cargo format --all -- --check
      - name: Check Clippy
        run: cargo clippy --tests --all-features -- -D warnings

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pulsar-version: [ 2.8.4.1, 2.9.3.11, 2.10.1.8 ]
    steps:
      - name: Install protocol buffer compiler
        uses: arduino/setup-protoc@v1
      - name: Start Pulsar Standalone Container
        run: docker run --name pulsar -p 6650:6650 -p 8080:8080 -d -e GITHUB_ACTIONS=true -e CI=true streamnative/pulsar:${{ matrix.pulsar-version }} /pulsar/bin/pulsar standalone
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v1
      - name: Build
        run: cargo build
      - name: Run tests
        run: cargo test -- --nocapture
